#welcome{
	width: 100%;
	height: $height3;
	background: $color4;
	margin-top: 30px;
	

	.container{
		width: 1000px;
		height: auto;
		text-align: center;
		margin: 0 auto;
		

		h1{
			color: $color5;
			font-size: 35px;
			padding-top: 70px;
		}

		p{
			color: $color6;
			padding-top: 25px;
		}

		ul{
			list-style: none;
			margin-top: 100px;

			li{
				float: left;
				width: 310px;
				height: 210px;

				.story{
					text-decoration: none;
					display: block;
					width: 310px;
					height: 210px;
					background: url('../images/thumb-2.jpg') center center;
					background-repeat: no-repeat;
					background-size: cover;
					text-decoration: none;

					span{
						display: block;
						width: 170px;
						height: 20px;
						background: white;
						color: $color6;
						position: relative;
						top: 80px;
						left: 52px;
						padding: 15px;
						font-size: 12px;
					}
				}

				.store{
					text-decoration: none;
					display: block;
					width: 310px;
					height: 210px;
					background: url('../images/thumb-3.jpg') center center;
					background-repeat: no-repeat;
					background-size: cover;
					text-decoration: none;

					span{
						display: block;
						width: 170px;
						height: 20px;
						background: white;
						color: $color6;
						position: relative;
						top: 80px;
						left: 52px;
						padding: 15px;
						font-size: 12px;
					}
				}

				.contact{
					text-decoration: none;
					display: block;
					width: 310px;
					height: 210px;
					background: url('../images/thumb-1.jpg') center center;
					background-repeat: no-repeat;
					background-size: cover;
					text-decoration: none;

					span{
						display: block;
						width: 170px;
						height: 20px;
						background: white;
						color: $color6;
						position: relative;
						top: 80px;
						left: 52px;
						padding: 15px;
						font-size: 12px;
					}
				}
			}

			li:nth-child(2){
				margin: 0 35px;
			}
		}
	}
}