footer{
	width: 100%;
	height: 290px;
	display: inline-block;

	.bottom1{
		width: 100%;
		height: $height6;
		background: $color8;

		.container{
			width: 1000px;
			height: auto;
			margin: 0 auto;

			.block{
				width: 250px;
				height: $height6;
				float: left;
				font-family: verdana;
				
			}

			.block1{
				a{
					display: block;
					width: 250px;
					font-family: emil;
					text-decoration: none;
					color: $color1;
					font-size: 35px;
					margin-top: 30px;

					span{
						color: red;
					}
				}

				.social{
					list-style: none;

					li{
						float: left;

						a{
							display: block;
							width: 35px;
							height: 35px;
							text-align: center;
							margin-top: 20px;

							i{
								color: white;
								font-size: 18px;
								line-height: 35px;
							}
						}
					}
				}

				.writeus{
					display: block;
					width: 160px;
					height: 20px;
					background: $color1;
					margin-top: 80px;
					border-radius: 3px;
					color: white;
					text-align: center;
					font-family: verdana;
					font-size: 16px;
					text-decoration: none;
					padding: 10px 15px;

					&:hover{
						background: red;
						transition: .5s;
					}
				}
			}

			.block2{
				text-align: left;

				h1{
					color: white;
					font-family: verdana;
					margin-top: 30px;
				}

				p{
					margin-top: 12px;
					a{
						text-decoration: none;
						color: #e0e0e0;
						font-size: 14px;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}

			.block3{
				text-align: left;

				h1{
					color: white;
					font-family: verdana;
					margin-top: 30px;
				}

				p{
					margin-top: 12px;
					a{
						text-decoration: none;
						color: #e0e0e0;
						font-size: 14px;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}

			.block4{
				text-align: left;

				h1{
					color: white;
					font-family: verdana;
					margin-top: 30px;
				}

				p{
					margin-top: 12px;
					a{
						text-decoration: none;
						color: #e0e0e0;
						font-size: 14px;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.bottom2{
		width: 100%;
		height: $height7;
		background: $color9;

		.container{
			width: 1000px;
			height: auto;
			margin: 0 auto;

			.copyright{
				color: #e0e0e0;
				line-height: 2.5;

				a{
					text-decoration: none;
					color: $color1;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}