#subscribe{
	width: 100%;
	height: $height4;
/*	clear: both;*/
	display: inline-block;


	.container{
		width: 1000px;
		height: $height8;
		background: blue;
		margin: 27px auto 0;
		background: url('../images/subcribtion-bg.jpg') center center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		/*clear: both;*/

		h2{
			color: white;
			font-size: 35px;
			font-style: italic;
			line-height: 3;
		}

		input{
			border: none;
		}

		input:first-child{
			width: 440px;
			height: 30px;
			padding: 15px;

		}

		input:last-child{
			width: 120px;
			height: 60px;
			background: $color1;
			color: white;
		}

		p{
			color: white;
			text-decoration: underline;
			margin-top: 30px;
		}

	}
}