/*COLORS*/

$color1: #8DC63F;
$color2: #FFODO3;
$color3: #666666;
$color4: #F8F8F8;
$color5: #21201F;
$color6: #716E6A;
$color7: #FF3815;
$color8: #333333;
$color9: #2A2A2A;

/*HEIGHTS*/

$height1: 160px;
$height2: 40px;
$height3: 495px;
$height4: 350px;
$height5: 290px;
$height6: 240px;
$height7: 50px;
$height8: 295px;
$height9: 500px;